/* CRISTIAN RICORDA LA PALETTE!!! */
:root {
    /* black palette */
	--nero-pellad: #0d0d0d;
    --bg-1: #2c2c2c;
    --bg-2: #424242;
    --bg-3: #5a5a5a;
    --bg-4: #8a8a8a;

    /* button colors */
    --danger: #ff0000;
    --danger-hover: #d10000;
    --normal: #00acec;
    --normal-hover: #0079ea;
    --good: #14d624;
    --good-hover: #0e9319;

    /* font color */
    --font-col: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
    background-color: var(--nero-pellad);
    color: var(--font-col);
    margin: 0;
}

.logo {
    max-height: 3rem;
    margin-top: 1rem;
}

.main {
    padding: 1rem;
}

.manage {
    margin-bottom: 1rem;
}

.button {
    display: flex;
    flex: 1;
    max-width: 210px;
    min-width: 140px;
    justify-content: center;
    background-color: var(--normal);
    margin: 0 0.5rem;
    padding: 0.5rem 1.25rem;
    border-radius: 10px;
    border: 0px;
    color: var(--font-col);
    font-size: 1rem;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--normal-hover);
}

.danger {
    background-color: var(--danger);
}

.danger:hover {
    background-color: var(--danger-hover);
}

.collapse {
    transform: translateY(0);
    height: 0px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    width: 100%;
    border-radius: 12px;
}

.collapse.open {
    transform: translateY(1em);
    height: 180px;
    opacity: 1;
    margin-bottom: 1rem;
}

.collapse-content {
    animation: fadeIn 0.2s both;
    flex-direction: column;
    display: none;
}

.add-song,
.delete-song {
    display: flex;
    flex-direction: column;
}

.new-song {
    width: 100%;
    align-items: center;
}

.new-song>* {
    width: 100%;
    align-items: center;
    display: flex;
}

.delete-song-content {
    display: flex;
    flex-direction: row;
}

.delete-song-button {
    display: flex;
    padding: 0.5rem;
    align-items: center;
}

.input-textbox {
    background-color: var(--bg-1);
    border-width: 0px;
    padding: 0.75rem;
    border-radius: 8px;
    color: var(--font-col);
    font-family: inherit;
    font-size: 1rem;
    display: flex;
    flex-grow: 1;
    margin: 0.5rem
}

.fake-checkbox {
    display: flex;
    align-items: center;
    background-color: var(--bg-3);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin: 0.5rem;
}

.checked {
    background-color: var(--bg-4);
}

.cover {
    display: flex;
    padding: 0.25rem;
    border-radius: 5px;
    color: var(--bg-3);
    background-color: var(--font-col);
    font-size: 0.8rem;
    font-weight: 700;
    margin-left: 0.25rem;
}

.fake-checkbox.checked .cover {
    color: var(--bg-4)
}

.songs-picker {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    background-color: var(--bg-2);
    padding: 0.5rem;
    border-radius: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.setlist-area {
    margin-top: 2rem;
}

.setlist {
    padding: 1rem;
    border-radius: 12px;
    background-color: var(--bg-4);
}

.total-time {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.track {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-3);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 100%;
    margin: 0.5rem 0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .collapse.open {
        height: 340px;
    }
    .new-song {
        flex-direction: column;
    }
    .delete-song-content {
        flex-direction: column;
    }
    .delete-song-button {
        justify-content: center;
    }
}