body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Arial";
    font-size: large;
}

.songtable{ 
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    row-gap: 2pt;
    width: 50vw;
    min-width: 250pt;
}

.title{
    color: cornflowerblue;
    font-weight: bold;
}

.songel{ 
    padding: 2pt;
}

input[type=checkbox] {
    transform: scale(1.5);
}

input[type=text] {
    max-width: fit-content;
}

#totcontatiner{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10pt 10pt 10pt 10pt;
}

#tottime{
    padding-left: 10pt;
}