.thead{
    border-style: solid;
    border-width: 5px;
    padding: 5px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    background-color: #ffffff;
    margin: 0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }

tr {
    text-align: center;
}

table{
    border-style: solid;
    background-size: 100%;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #D0E6FF, #7CBAFF);
    padding: 0.5ex;
    border-radius: 1rem;
    direction: ltr;
    line-height: 1.6;
    border-width: 0px;
}

tbody{
    background-color: #ffffff; 
}

#pokemonList{
    float:left;
    width: 20%;
    margin: 3px;
}

#pokeballList{
    float: right;
    text-align: center; 
    border: 3px solid #437DBF; 
    background-color: #9FC1E7;
    width: 40%;
    margin: 3px;
}

#stati{
    margin: 3px;
    font-family: 'Open Sans', sans-serif;
}

.stats{
    position: relative;
}