@font-face {
  font-family: "Fipps-Regular";
  src: local("Fipps-Regular"), url(Fipps-Regular.otf) format("truetype");
}

:root{
  --color-font: #1e1e1e;
}

html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fipps-Regular";
  font-size: 15pt;
  color: var(--color-font);
  background-color: rgb(100, 100, 255);
  letter-spacing: 0.5pt;
  position: absolute;
  /* bottom: 0; */
  /* right: 0; */
  /* left:0; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

label {
  margin-top: -4;
  margin-left: -6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  width: 100%;
  line-height: 0%;
}

#div-container {
  pointer-events: none;
}

#canvas-container{
  margin-right: calc(100% - 100vw);
}

/* INPUT RANGE */

input[type=range] {
  background-color: rgba(0, 0, 0, 0.39);
  -webkit-appearance: none;
  height: 5px;
  border-radius: 20px;
}

input[type=range]::-moz-range-thumb {
  background: #292929;
  border: 0;
  border-radius: 20px;
  -webkit-appearance: none;
}

/* INPUT TEXT */

input[type=text] {
  padding: 0em 0em 1em 1em;
  margin: 2em 0em 1em 0px;
  box-sizing: border-box;
  color: var(--color-font);
  background-color: rgba(0, 0, 0, 0.39);
  border-radius: 3em;
  border-color: var(--color-font);
  font-size: medium;
  font-family: "Fipps-Regular";
  caret-color: var(--color-font);
}

input[type=text]:hover {
  background-color: rgba(30, 30, 30, 0.25);
}

::placeholder {
  color: rgba(30, 30, 30, 0.6);
  opacity: 1; /* Firefox */
}

.clickable {
  cursor: pointer;
  pointer-events: all;
}

::-moz-selection { /* Code for Firefox */
  color: rgba(255, 255, 255, 0.8);
  background: rgba(30, 30, 30, 0.8);
}

::selection {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(30, 30, 30, 0.8);
}

/* A */

a:link {
  color: var(--color-font);
}

a:hover {
  color: rgba(30, 30, 30, 0.6);
}